@font-face {
  font-family: "Colfax";
  font-style: normal;
  src: url("../assets/fonts/ColfaxRegular.woff");
}

@font-face {
  font-family: "ColfaxMedium";
  src: url("../assets/fonts/ColfaxWebMedium.woff");
}

@font-face {
  font-family: "ColfaxLight";
  src: url("../assets/fonts/ColfaxWebLight.woff");
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Colfax", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:-webkit-any-link,
a:-moz-any-link,
a:any-link {
  color: black;
}
